<div class="container-fluid container-fluid-custom">
<h1>About</h1>
<pre>
    Made by - Mudit Thakur
    reg no - 12100566
    Submitted to - Divya Thakur
    University - Lovely Professional University
</pre>
</div>